NEXT_PUBLIC_SUPABASE_URL=tu_url_de_supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu_anon_key_de_supabase

ADMIN_USER=tu_usuario_admin_ejemplo
ADMIN_PASSWORD=tu_contrasena_admin_ejemplo
JWT_SECRET=tu_secreto_aleatorio

# Google AdSense
NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-XXXXXXXXXXXXXXXX
NEXT_PUBLIC_ADSENSE_TOP_SLOT=1234567890
NEXT_PUBLIC_ADSENSE_BOTTOM_SLOT=0987654321

# URL base del sitio para el Sitemap (sin barra al final)
NEXT_PUBLIC_SITE_URL=https://tudominio.com

# Brevo (Envío de correos)
BREVO_API_KEY=tu_clave_api_v3_aqui
